@charset "UTF-8";

main{
    background-color: aliceblue;
    text-align: center;
    width: 60%;
    margin: auto;
    border-radius: 60px 0px 60px 0px;
    padding: 10px;
}
body{
    background-color: rgba(23, 189, 78, 0.781);
}
img{
    width: min(100% , 50vw);
}
#bugdroid{
    width: min(250px , 30vw);
}
p{
    margin: 0% 0% 4% 0%;
}
strong{
    color: rgb(1, 110, 1);
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    color: rgb(1, 110, 1);
}
a:hover{
    font-weight:bold;
    text-decoration: underline;
}
p{
    text-align:center;
}
iframe{
    margin-top: 2%;
    box-shadow: 0px 3px 5px 3px black;
    width:min(100% , 40vw);
}
div{
    background-color: rgb(1, 71, 1);
    height: 120%;
    padding:0% 0% 2% 0%;
}
#rodape{
    text-align: left;
    background-color: rgb(3, 128, 3, 0.363);
    border-radius: 15px 15px 15px 15px;
}