@charset "UTF-8";

#icone {
  width: 130px;
  margin-top: 2%;
  margin-left: 15%;
}

#headerP {
  color: white;
  background-image: linear-gradient(to top, #017701, #2ad10596);
  box-shadow: 4px 4px 3px rgba(29, 29, 29, 0.658);
}

#headerP h1 {
  display: inline-block;
  padding: 0 0 0 3%;
  font-size: 2.9em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-shadow: 3px 3px 2px black;
  text-align: center;
}

#headerP p {
  font-family: Arial, Helvetica, sans-serif;
}

#headerP ul li {
  color: white;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 15px;
  padding: 2px 0 4px 0;
}

#headerP ul li a {
  color: white;
}

#headerP ul li:hover {
  background-color: #17bd4ec7;
  padding: 10px 10px 5px 10px;
  text-decoration: none;
  font-style: none;
}
#headerP p {
  margin: 0 0 4% 0;
  text-align: center;
}

main {
  background-color: aliceblue;
  text-align: center;
  width: 70%;
  margin: auto;
  border-radius: 60px 0 60px 0;
  padding: 10px;
  box-shadow: 4px 3px 5px rgba(31, 31, 31, 0.856);
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 200;
  background-color: #17bd4ec7;
}

img {
  width: min(100%, 50vw);
}

#bugdroid {
  width: min(250px, 30vw);
}

p {
  margin: 0 0 4% 0;
  text-align: center;
}

.strongP {
  color: rgb(1, 110, 1);
  font-family: Arial, Helvetica, sans-serif;
}

body a {
  text-decoration: none;
  color: rgb(1, 110, 1);
}

p a:hover {
  font-weight: bold;
  text-decoration: underline;
}

iframe {
  margin-top: 2%;
  box-shadow: 0 3px 5px 3px black;
  width: min(100%, 40vw);
}

#videoYT {
  background-color: rgb(1, 71, 1);
  height: 120%;
  padding: 0 0 2% 0;
}

#videoYT p {
  padding: 0 2%;
}

#rodape {
  text-align: left;
  background-color: rgba(3, 128, 3, 0.363);
  border-radius: 15px 15px 60px 15px;
}

#rodape a {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#rodape ul li {
  display: block;
  text-align: left;
  font-size: 0.8em;
  padding: 5px 12px 10px 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#rodape li:nth-child(odd) {
  clear: both;
  float: left;
  width: 35%;
}

footer p {
  margin-top: 20px;
  margin-bottom: auto;
  color: white;
  background-color: #014401;
  padding: 2px;
}

@media only screen and (max-width: 768px) {
  main {
    width: 100%;
    padding: 0;
    border-radius: 27px 0 27px 0;
  }
  main h2 {
    font-size: 20px;
    border-radius: 60px 0 0 0;
  }
  main h3 {
    margin: 0;
    padding: 10px;
  }
  article {
    padding: 10px;
    margin-top: 10px;
  }
  article p {
    text-align: justify;
  }
}